header {
  background-color: white;
  padding: 0;
  border-bottom: 1px solid #1F75FE;
}

a {
  color: #0CAFFF;
}

a:hover {
  background-color: #1F75FE;
  color: white
}

/* .container {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
} */

.header {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

a.logo {
  font-weight: bold;
  padding: 1em;
}

nav ul {
  list-style: none;
  margin: 0;
}

nav ul li a {
  padding: 1em;
  display: inline-block;
}
