div {
  display: flex;
  margin: 15px;
  justify-content: center;
}

 input{
  width: 25%;
  height: 35px;
  border-radius: 6px;
  border-color: #1F75FE;
}

.find  {
  margin-left: 10px;
  border-radius: 6px;
  color:whitesmoke;
  background-color: #1F75FE;
}

div button:hover{
  opacity:1;
  cursor:pointer;
}
