<div class="body">
  <img [src]="food.imageUrl" [alt]="food.name">
  <div class="details">
    <div class="header">
      <span class="name">
        {{food.name}}
      </span>

      <span class="favourite">&#9829;</span>
    </div>
    <div class="star">
      <ngb-rating [max]="5" [readonly]="true">
        <!-- <ng-template let-fill="fill">
        <span [class.painted]="fill===100" [class.notpainted]="fill===0"></span>
      </ng-template> -->
      </ngb-rating>
    </div>

    <div class="origin">
      <span *ngFor="let origin of food.origins">
        {{origin}}
      </span>
    </div>

    <div class="tags">
      <app-tags [foodPageTags]="food.tags"></app-tags>
    </div>

    <div class="cook-time">
      <span>Time to cook <strong>{{food.cookTime}}</strong> Minutes</span>
    </div>

    <div class="price">
      <span> $ {{food.price}}</span>
    </div>

    <button class="cart" (click)="cartPage()"> Add to Cart</button>
  </div>

</div>
